@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
 */




@layer base {      
  :root {
    --background: 253, 22%, 71%;
    --foreground: 137 5% 10%;
    --card: 321, 18%, 73%;
    --card-foreground: 137 5% 15%;
    --input: 137 30% 39%;
    --primary:137 46% 52%;
    --primary-foreground: 0 0% 100%;
  }

  .dark {
    --background: 253, 16%, 30%
    --foreground: 321, 18%, 90%;
    --card: 137 32% 10%;
    --card-foreground: 137 5% 90%;
    --input: 137 30% 39%;
    --primary: 137 46% 52%;
    --primary-foreground: 0 0% 100%;
  }
}    

@layer components {
    .btn {
        @apply px-4 py-2 rounded-lg bg-gray-400 text-white font-bold;
        transition: background-color 0.3s ease;
    }
    .btn:hover {
        @apply bg-purple-500
    }
}

@layer utilities {
   .flex-center {
     @apply flex flex-row items-center
   }  
}